* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #0D3B66;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: #FAF0CA;
    padding: 20px;
    display: flex;
}

#container > .block {
    padding: 20px;

}

.block {
    color: #0D3B66;
}

.block:first-child {
    background-color: #EE964B;
    color: #0D3B66
}

.information-container {
    display: flex;
}

.info {
    margin-left: 5px;
}

#location {
    font-weight: bold;
    font-size: 22px;
}